<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yk.silence.customandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".widget.activity.MineCollectActivity"></activity>
        <activity android:name=".widget.activity.DetailActivity" />
        <activity android:name=".widget.activity.OpenSourceActivity" />
        <activity android:name=".widget.activity.SettingActivity" />
        <activity android:name=".widget.activity.PointRankActivity" />
        <activity android:name=".widget.activity.MinePointActivity" />
        <activity android:name=".widget.activity.HistoryActivity" />
        <activity android:name=".widget.activity.AboutActivity" />
        <activity android:name=".widget.activity.MineCollectActivity" />
        <activity android:name=".widget.activity.ShareActivity" />
        <activity android:name=".widget.activity.SearchActivity" />
        <activity android:name=".widget.activity.MainActivity" />
        <activity android:name=".widget.activity.RegisterActivity" />
        <activity android:name=".widget.activity.LoginActivity" />
        <activity android:name=".widget.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>